@import "nav";
@import "showCase";
@import "offer";
@import 'infoSection';

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 80vw;
    margin: 0 auto
}

main {
    flex: 1;
}
