@import "nav";
@import "showCase";
@import "offer";
@import 'infoSection';
@import "aboutUs";
@import "comment";

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';


.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 80vw;
    margin: 0 auto
}

main {
    flex: 1;
}
